/*
	Name: Global Form Styles
	Description: Default styling for forms.
				 Message classes borrowed from
				 http://www.blueprintcss.org/
	Coder: Enrique Ramirez
	Coder URI: http://enrique-ramirez.com
*/

fieldset {
	background: #fff;
	margin: 0.5em;
	padding: 1em;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
legend {font-size: 1.25em; margin-bottom: 0 !important;}
label {font-size: 1.1em; height: 25px; line-height: 25px;}
