{% extends "base.html" %}

{% block content %}

<form method="POST">
         <legend>Survey</legend>
        {{ survey_form }}
        <fieldset>
        {{ question_formset.management_form }}
        {% for question_form in question_formset %}
            <fieldset>
            <legend>Question {{ forloop.counter }}</legend>
            {{ question_form.as_p }}
            {% for choice_formset in question_form.nested %}
                {{ choice_formset.management_form }}
                <fieldset>
                    <legend>Choices</legend>
                        {% for choice_form in choice_formset %}
                                {{ choice_form.as_p }}
                        {% endfor %}
                </fieldset>
            {% endfor %}
            </fieldset>
        {% endfor %}
        </fieldset>
    {% csrf_token %}
    <input type="submit" value="Save"/>
    <a href="{% url index %}">Index</a>
</form>
{% endblock %}
